    <footer>
      <div class="container">
        <span class="foo">
          <p>
            copyright&nbsp;<i class="fa-regular fa-copyright"></i>&nbsp;<%= new Date().getFullYear() %>&nbsp;<b>YouMP3DZ</b>,&nbsp;All rights reserved.
          </p>
        </span>
        <span class="foo" style="margin-top: -20px;font-size: .85rem;">
          <p>
            🇩🇿 Made with&nbsp;<i class="fa-solid fa-bug"></i>&nbsp;&&nbsp;<i class="fa-solid fa-mug-hot"></i>&nbsp;in Algeria 🇩🇿
          </p>
        </span>
      </div>
    </footer>
    </body>

    </html>