<!DOCTYPE html>
<html lang="en" data-dark="1">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Description -->
  <meta name="description" content="YouMP3DZ is a cutting-edge web application designed for lightning-fast and user-friendly MP3 downloads from YouTube videos. Effortlessly convert your favorite YouTube videos into high-quality MP3 files, enhancing your music library with just a few clicks. Discover the convenience and joy of YouMP3DZ as you enjoy seamless and immersive music listening experiences.">
  <!-- Keywords -->
  <meta name="keywords" content="YouMP3DZ, You MP3 DZ, YouMP3 DZ,MP3 download, YouTube to MP3, YouTube MP3 converter, High-quality MP3 files, Fast MP3 downloads, User-friendly web application, Effortless YouTube MP3 conversion, YouTube video URL conversion, Download YouTube audio, Convert YouTube videos to MP3, YouTube 2MP3, YouTube 2MP3 converter, Convert YouTube 2MP3, YouTube audio 2MP3, YouTube video to 2MP3, YouTube audio 2MP3 downloader, YouTube music 2MP3 converter, YouTube 2MP3 online, YouTube converter 2MP3 free, YouTube downloader 2MP3, YouTube 2MP3 high quality, YouTube 2MP3 320kbps, YouTube 2MP3 fast, YouTube 2MP3 mobile, YouTube 2MP3 Android, YouTube 2MP3 iOS, YouTube 2MP3 converter app, YouTube 2MP3 browser extension, YouTube 2MP3 no limit, YouTube 2MP3 without software">
  <!-- Geo Region -->
  <meta name="geo.region" content="DZ">
  <!-- Google SiteMap Validation -->
  <meta name="google-site-verification" content="AePI0oeGuw4CSwN9nNkS86j_rdzXeD76arzvbPZbq58" />
  <!-- Bing SiteMap Validation -->
  <meta name="msvalidate.01" content="42D94C0C0B9D1E7CFCE38852E1E20241" />
  <!-- Content Security Policy -->
  <meta http-equiv="Content-Security-Policy" content="default-src 'self';
    font-src fonts.gstatic.com https://cdnjs.cloudflare.com; 
    style-src-elem 'self' 'unsafe-inline'  https://fonts.googleapis.com https://cdnjs.cloudflare.com ;
    style-src 'self' 'unsafe-inline'  https://fonts.googleapis.com https://cdnjs.cloudflare.com ;
    frame-src 'self'  https://www.youtube.com https://www.youtube-nocookie.com;
    img-src 'self' https://i.ytimg.com;
    script-src 'self' 'nonce-bOcqoQDkMjU5Jl0m';">
  <!-- Referrer Policy -->
  <meta name="referrer" content="strict-origin-when-cross-origin">

  <title><%= pageTitle %></title>
  <link rel="canonical" href="https://yoump3dz.onrender.com/" />

  <link rel="shortcut icon" href="/assets/images/YouMP316.png" type="image/x-icon" sizes="16x16">
  <link rel="shortcut icon" href="/assets/images/YouMP332.png" type="image/x-icon" sizes="32x32">
  <link rel="shortcut icon" href="/assets/images/YouMP396.png" type="image/x-icon" sizes="96x96">
  <link rel="shortcut icon" href="/assets/images/YouMP3120.png" type="image/x-icon" sizes="120x120">
  <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" id="fawsome" as="style" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" type='text/css' fetchpriority="low" media="all" async>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400&display=swap" type="text/css" fetchpriority="high" media="all">
  <link rel="stylesheet" href="/assets/css/style.css" type="text/css" fetchpriority="high">




  <script src="/assets/scripts/index.js" type="module" defer fetchpriority="high"></script>


</head>

<body>
  <header>
    <div class="container">
      <nav>
        <div class="logo">
          <img src="/assets/images/YouMP3120.png" width="64px" alt="App Logo">
          <h1><a href="/">YouMP<span>3</span></a></h1>
        </div>
        <ul>
          <li><a class="home" href="/">Home</a></li>
          <li><a href="/docs">Docs</a></li>
          <li><a href="/about">About</a></li>
             <li>
            <a class="flex center" href="/github" target="_blank">Github<svg width="1.8rem" viewBox="0 0 32 32" style="rotate: 16deg;">
                <path fill="#fff" d="M19.906 17.847c0.429 0 0.79 0.21 1.102 0.636 0.31 0.422 0.468 0.944 0.468 1.56 0 0.619-0.156 1.141-0.468 1.563s-0.678 0.634-1.102 0.634c-0.451 0-0.839-0.21-1.151-0.634-0.307-0.422-0.465-0.944-0.465-1.563s0.153-1.139 0.465-1.56c0.312-0.427 0.702-0.636 1.151-0.636zM25.425 12.132c1.202 1.303 1.809 2.884 1.809 4.738 0 1.203-0.142 2.286-0.415 3.249-0.278 0.958-0.629 1.743-1.048 2.343-0.427 0.605-0.943 1.136-1.565 1.585-0.622 0.461-1.195 0.79-1.712 1.002s-1.112 0.376-1.785 0.49c-0.665 0.117-1.168 0.18-1.517 0.198-0.336 0.015-0.702 0.022-1.097 0.022-0.088 0-0.385 0.010-0.879 0.024-0.482 0.020-0.896 0.029-1.218 0.029s-0.736-0.010-1.218-0.029c-0.49-0.015-0.79-0.024-0.879-0.024-0.395 0-0.764-0.005-1.098-0.022-0.35-0.017-0.852-0.080-1.514-0.198-0.676-0.112-1.268-0.273-1.787-0.49-0.517-0.21-1.089-0.541-1.708-1.002-0.624-0.454-1.141-0.983-1.568-1.585-0.419-0.6-0.772-1.385-1.048-2.343-0.272-0.963-0.414-2.046-0.414-3.249 0-1.854 0.605-3.435 1.81-4.738-0.133-0.065-0.14-0.714-0.021-1.952 0.107-1.239 0.37-2.38 0.797-3.421 1.503 0.16 3.352 1.008 5.567 2.539 0.748-0.195 1.772-0.295 3.078-0.295 1.37 0 2.394 0.1 3.079 0.295 1.009-0.681 1.975-1.239 2.896-1.663 0.936-0.419 1.609-0.667 2.033-0.731l0.634-0.145c0.429 1.041 0.692 2.185 0.8 3.421 0.124 1.237 0.117 1.887-0.015 1.952zM16.052 24.683c2.703 0 4.741-0.324 6.125-0.973 1.38-0.651 2.082-1.99 2.082-4.008 0-1.17-0.441-2.15-1.322-2.932-0.454-0.424-0.985-0.681-1.595-0.781-0.595-0.098-1.514-0.098-2.755 0-1.236 0.1-2.082 0.145-2.537 0.145-0.619 0-1.291-0.033-2.125-0.098-0.834-0.062-1.487-0.102-1.954-0.122-0.478-0.015-0.986 0.045-1.538 0.172-0.557 0.133-1.008 0.357-1.373 0.681-0.84 0.75-1.266 1.725-1.266 2.932 0 2.019 0.684 3.357 2.050 4.006 1.365 0.653 3.397 0.975 6.101 0.975zM12.143 17.847c0.424 0 0.789 0.21 1.098 0.636 0.31 0.422 0.467 0.944 0.467 1.56 0 0.619-0.155 1.141-0.467 1.563-0.309 0.422-0.677 0.634-1.098 0.634-0.455 0-0.841-0.21-1.153-0.634-0.309-0.422-0.467-0.944-0.467-1.563s0.155-1.139 0.467-1.56c0.312-0.427 0.699-0.636 1.153-0.636z"></path>
              </svg></a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
