<%- include('./partials/header'); -%>
<main style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 72.7vh;">
  <h1 style="font-size:10rem;">404</h1>
  <a href="/">Go Back Home</a>
</main>
<%- include('./partials/footer'); -%>