<!DOCTYPE html>
<html>

<head>
  <title>Forbidden</title>
  <link rel="shortcut icon" href="/assets/images/YouMP316.png" type="image/x-icon" sizes="16x16">
  <link rel="shortcut icon" href="/assets/images/YouMP332.png" type="image/x-icon" sizes="32x32">
  <link rel="shortcut icon" href="/assets/images/YouMP396.png" type="image/x-icon" sizes="96x96">
  <link rel="shortcut icon" href="/assets/images/YouMP3120.png" type="image/x-icon" sizes="120x120">
  <style>
    body {
      font-family: Arial, sans-serif;
      text-align: center;
      background-color: #212121;
      color: #fff;
      margin: 0;
      padding: 0;
    }

    h1 {
      font-size: 3em;
      margin-top: 90px;
    }

    p {
      font-size: 1.2em;
      margin-top: 20px;
    }

    .warning {
      font-size: 2em;
      margin-top: 50px;
      color: #ff0000;
      font-weight: bold;
    }

    .threat {
      font-size: 1.5em;
      margin-top: 50px;
      color: #ff0000;
      font-weight: bold;
    }

    .image {
      margin-top: 30px;
    }

    li {
      list-style: none;
    }

    @media only screen and (max-width: 600px) {
      h1 {
        font-size: 2em;
      }

      p {
        font-size: 1em;
      }

      .warning {
        font-size: 1.5em;
        margin-top: 30px;
      }

      .threat {
        font-size: 1em;
        margin-top: 30px;
      }
    }
  </style>
</head>

<body>
  <h1>Access Denied</h1>
  <p>Oops! Looks like you stumbled into forbidden territory.</p>

  <img class="image" src="/assets/images/denied.png" width="220" alt="Forbidden Image">


  <div class="warning">WARNING</div>
  <p>You are being closely monitored. Your actions have been logged.</p>

  <div class="threat">ATTENTION</div>
  <p>Continued unauthorized access may result in:</p>
  <ul>
    <li>Permanent ban of your IP address.</li>
    <li>Legal action taken against you.</li>
    <li>A visit from the dark forces. 👻</li>
  </ul>

  <p>If you believe this to be an error, please contact the administrator immediately.</p>
</body>
<script>
  document.title = 'YouMP3 | Forbidden'
</script>

</html>