<%- include('./partials/header'); -%>
<!-- The above code includes the header partial into this HTML file -->
<main class="container tos">
  <h1>Terms of Use</h1>

  <h3>1. Access and Permissions</h3>
  <p>You may only use YouMP3DZ if you have the legal right to access and download the YouTube video or if you have obtained permission from the video's owner. We do not condone or support the unauthorized use of copyrighted material.</p>

  <h3>2. Responsibility for Actions</h3>
  <p>You are solely responsible for any actions you take using our app. If you violate any laws or infringe upon the rights of others while using our app, you accept full responsibility for the consequences. YouMP3DZ or developer does not collaborate with or endorse any illegal activities.</p>

  <h3>3. Compliance with Local Laws</h3>
  <p>It is your responsibility to ensure that your use of our app complies with the laws and regulations of your country. If the use of our app is prohibited in your country, you are not permitted to use it, even if you are the owner of the video. You must comply with and obey any rules or regulations set forth by your government.</p>

  <h3>4. Personal Use Only</h3>
  <p>YouMP3DZ is intended for personal, non-commercial use only. You agree to use it solely for your own personal enjoyment and not for any commercial purposes. Any unauthorized commercial use is strictly prohibited.</p>

  <h3>5. Data Collection</h3>
  <p>YouMP3DZ does not collect any personal data about you. We do not track your IP address or gather any other personal information. The only cookie used by our app is a simple boolean value that controls the display of the cookie notice. Please refer to the cookie notice for more information on third-party services such as Google Fonts, FontAwesome, and YouTube.</p>

  <h3>6. Termination of Access</h3>
  <p>We reserve the right to terminate your access to our app at any time if you violate these terms of use, engage in any illegal activities, or misuse our app in any way. We also reserve the right to update, modify, or discontinue our app without further notice.</p>

  <h3>7. No Liability</h3>
  <p>YouMP3DZ and its developer will not be liable for any damages, legal consequences, or other liabilities resulting from your use of our app, including but not limited to direct, indirect, incidental, punitive, and consequential damages. You acknowledge that it is your sole responsibility to face the law and any legal consequences for any illegal actions you may engage in while using our app.</p>

  <h3>8. Agreement to Terms</h3>
  <p>By using YouMP3DZ, you acknowledge that you have read, understood, and agree to these terms of use. If you do not agree to these terms, you are not permitted to use our app.</p>

  <h1>Data Privacy Policy</h1>

  <h3>1. Information We Collect</h3>
  <p>We do not collect any personal data from you while using our app. We do not track your IP address, gather personal information, or keep any records of user activity.</p>

  <h3>2. Use of Information</h3>
  <p>Since we do not collect any personal data or keep records, there is no use of such information.</p>

  <h3>3. Data Security</h3>
  <p>While we do not collect personal information, we implement reasonable security measures to protect any non-personal information that may be transmitted between your device and our server.</p>

  <h3>4. Third-Party Services</h3>
  <p>YouMP3DZ may include links to third-party websites or services that have their own privacy policies. We are not responsible for the privacy practices of these third parties. We encourage you to review their privacy policies before interacting with their websites or services.</p>

  <h3>5. Children's Privacy</h3>
  <p>YouMP3DZ is not intended for use by individuals under the age of 13. However, since we do not collect personal information, we do not knowingly collect any information from children under 13.</p>

  <h3>6. Updates to the Privacy Policy</h3>
  <p>We reserve the right to update or modify this Data Privacy Policy at any time. Any changes will be effective immediately upon posting the revised policy. We encourage you to review this policy periodically for any updates.</p>

  <h3>7. Contact Us</h3>
  <p>If you have any questions or concerns about this Data Privacy Policy or our privacy practices, please contact us at <span><a class="aboutEmail" style="font-size:inherit;" href="mailto:KhalilDev@duck.com?Subject=From You2MP3 App">KhalilDev@duck.com</a></span>.</p>

</main>
<br>


<%- include('./partials/footer'); -%>
<!-- The above code includes the footer partial into this HTML file -->
